body {
    @apply font-montserrat antialiased text-primary leading-relaxed;
}

.container {
    @apply w-full mx-auto px-4;
}

@screen xl {
    .container {
        @apply px-0;
    }
}

a {
    @apply text-orange-500;

    &:hover,
    &:focus {
        @apply text-orange-500;
    }
}
nav {
    @apply font-montserrat;
}
.leftcontent{
    background-color: rgb(246,246,246);
}
.topbutton{
    padding: 4px 10px 6px 10px ;
}
.mainimage{
    height: 100%;
    max-width: none;
}
.leftcat{
    background-color: rgb(250,232,218)
}
.midcat{
    background-color: rgb(224,236,200)
}
.rightcat{
    background-color: rgb(224,237,245)
}
.cathead{
    font-size: 35px;
    line-height: 120%!important;
    font-weight: 600!important;
    color: #000000;
}
