@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;700&display=swap');

body {
    @apply font-sans antialiased text-primary leading-relaxed;
    font-family: 'Roboto Slab', serif;
}

.container {
    @apply w-full mx-auto px-4;
}

@screen xl {
    .container {
        @apply px-20;
    }
}
input{
    @apply  bg-gray-100;
}

.navmenu {
    @apply flex flex-row;

    ul {
        @apply flex;
    }
}

.woocommerce-tabs {
    display: none;
}


.product {
    @apply flex flex-row gap-8;

}

.woocommerce-breadcrumb {
    @apply mb-12;
}

.woocommerce-ordering {
    display: none;
  }

.columns-4{
    columns: 1;
    @apply flex flex-row flex-wrap;
}

.woocommerce-products-header{
    @apply items-center text-center mb-5;
}

.onsale{
    @apply hidden;
}

.woocommerce-products-header__title{
    display:none;
}
.woocommerce-product-gallery{
    @apply mx-auto 
}
.flex-control-nav{
    @apply flex flex-row;
}
.flex-viewport{
    height:400px!important;
}
.product-details{
    @apply flex flex-col gap-8;
}
.cart-form{
    @apply flex flex-col gap-4 mr-auto items-center;
    @media (min-width:900px) {
        @apply flex-row gap-8;     
    }
    .single_add_to_cart_button.button{
    @apply mr-auto;
    }
}

.single-product .product .single_add_to_cart_button.button{
    @apply px-6;
    padding-top: 8px;
    padding-bottom: 9px;
	background-color: #333333;
	color: #FFFFFF;
}
